<div *ngIf="!list">
  <span #loading>
    <ng-content select="[loading]"></ng-content>
  </span>
  <span *ngIf="!loading.innerHTML.trim()">
    <img src="../../../assets/img/loading.gif" class="img" />
  </span>
</div>


<div *ngIf="list?.length == 0">
  <span #noContent>
      <ng-content select="[noContent]"></ng-content>
  </span>
  <span *ngIf="!noContent.innerHTML.trim()">
    no record to show
  </span>
</div>

<div *ngIf="list && list.length>0">
  <ng-container>
    <ng-content select="[content]"></ng-content>
  </ng-container>
</div>
