<mat-toolbar color="primary">

  <span>
    <a routerLink="" mat-button>
      <mat-icon>local_movies</mat-icon>
       Angular Movies
    </a>
  </span>

  <span>
    <a routerLink="/movies/filter" mat-button>
      <mat-icon>search</mat-icon>
       search mMovie
    </a>
  </span>

  <div>
    <a mat-button routerLink="genres">
      Genres
    </a>
  </div>


  <div>
    <a mat-button routerLink="actors">
      Actors
    </a>
  </div>


  <div>
    <a mat-button routerLink="theaters">
      theaters
    </a>
  </div>


  <div>
    <a mat-button routerLink="movies/create">
      Create Movie
    </a>
  </div>
</mat-toolbar>
