<form (submit)="save()" [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Name*</mat-label>
    <input formControlName="name" matInput />
    <mat-error>the name field is require</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Date of Birth</mat-label>
    <input formControlName="dateOfBirth" matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <h4>Select Picture</h4>
  <input-img [urlCurrentImage]="model?.image" (onImageSelected)="onImageSelected($event)"></input-img>

  <h4>Biography</h4>
  <input-mardown [markDownContent]="model?.biography" (changeMarkDown)=changeMarkDown($event)></input-mardown>

  <div>
    <button type="submit" mat-flat-button color="primary" [disabled]="form.invalid">Save</button>
    <a mat-stroked-button routerLink="/actors">Cancel</a>
  </div>
</form>
